.container{
	background: blanchedalmond
}

.row{
    background:blanchedalmond;
	height: 50px;
	border: 1px solid white;
}

.contSec{
	display: flex;
	text-align: center;
}

.class1{
	background-image: url("imagenes/feliz.png");
	background-size: contain;
	background-repeat: no-repeat;
	flex: 0 1 calc (20% - 1rem);
	background-position: center
}

.body{
	background: blanchedalmond;
}
.contSec2 {
	border: 1px solid white;
    height: 200px;
}
.div 
{
	border: 2px solid black;
}